@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(195, 198,209,0.3 );
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a9acaf;
  border-radius: 6px;
}

